@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url(https://db.onlinewebfonts.com/c/7a6f2630cebd5e0ea712848621f9502e?family=SF+Pro+Display+Black);
@import url(https://db.onlinewebfonts.com/c/3cff9206b4c8d578245ef1aaeeaf9e84?family=SF+Pro+Display+Bold);
@import url(https://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display+Regular);

@font-face {
    font-family: 'SfPro';
    src: url('../fonts/SFProText-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}



.appointment-success{
    max-width: 800px;
    margin: 200px auto 0 auto;
}


.appointment-success-logo{
    display: flex;
    justify-content: center;
}

.appointment-success-logo img{
    max-width: 294px;
}

.see-you-soon{
    text-align: center;
    display: block;
    margin: 50px auto 0 auto;
    font-family: "SF Pro Display Black", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.appointment-confirmation{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SF Pro Display Bold", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

.appointment-confirmation-img{
    max-width: 30px;
}

.appointment-details{
    margin: 15px auto 0px auto;
    width: fit-content;
    display: block;
    font-family: "SF Pro Display", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}


.appointment-descr{
    margin: 40px auto 0 auto;
    display: block;
    max-width: 500px;
    text-align: center;
    font-size: 13px;
    font-family: "SF Pro Display Regular", sans-serif;
    line-height: 1.4em;
}

.add-to-calendar{
    margin: 35px auto 0 auto;
    display: block;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    color: #000;
    font-style: normal;
    font-weight: 600;
    padding: 20px 35px;
    border-radius: 10px;
    background: #94E522;
    cursor: pointer;
    width: max-content;
}

@media(max-width: 450px) {
    .appointment-success-logo img{
        max-width: 228px;
    }

    .see-you-soon{
        font-size: 40px;
    }

    .appointment-success{
        max-width: 800px;
        margin: 100px auto 0 auto;
    }

    .appointment-details {
        font-size: 16px;
    }

}