@font-face {
    font-family: 'SfPro';
    src: url('../fonts/SFProText-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

.mindbody-calendar{
    max-width: 920px;
    margin: 0 auto;
}

.mindbody-calendar .logo{
    max-width: 462px;
    margin: 56px auto 0 auto;
    display: block;
}

.mindbody-calendar .address{
    margin-top: 8px;
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mindbody-calendar .location{
    margin-top: 40px;
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mindbody-calendar .heading{
    margin-top: 80px;
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.mindbody-calendar .mindbody-calendar-container{
    max-width: 920px;
    margin: 0 auto;
}

.mindbody-calendar .mindbody-calendar-title{
    color: #181818;
    font-family: "SF Pro Text", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 80px auto 0 auto;
}





.mindbody-calendar .calendar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    padding: 20px 0;
}

.mindbody-calendar .mindbody-calendar-date{
    display: flex;
    gap: 40px;
    margin-top: 28px;
}



.mindbody-calendar .calendar-item-date{
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.mindbody-calendar .calendar-item-day{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1000px;
    border: 1px solid #212121;
    aspect-ratio: 1 / 1;
    width: 100%;
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.mindbody-calendar-date-wrapper{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
}



.mindbody-calendar .active-day .calendar-item-day {
    border: 2px solid #2f2f2f;
    background: #94E522;
    color: #181818;
    margin: 0 auto;
}

#next-btn{
    position: absolute;
    right: -40px;
    top: 25%;
}

#prev-btn{
    position: absolute;
    left: -40px;
    top: 25%;
}



.mindbody-calendar-time {

    max-width: 800px;
    margin: 28px auto 0 auto;
    gap: 16px 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.col-4{
    grid-template-columns: repeat(4, 1fr);

}

.col-3{
    grid-template-columns: repeat(3, 1fr);
}

.col-2{
    width: 100%;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    align-items: center;
}

.col-1{
    width: 100%;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    align-items: center;
}


.time-item{
    box-sizing: border-box;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    color: #181818;
    font-family: "SF Pro Text", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.mindbody-calendar-time .time-item:nth-last-child(-n+3) {
    justify-self: center;
}




.time-item.active{
    border: 2px solid #2f2f2f;
    background: #94E522;
    color: #000;
}

.submit-btn-calendar{
    margin: 30px auto 30px auto;
    display: block;
    border-radius: 10px;
    background: #94E522;
    border: 2px solid #2f2f2f;
    padding: 16px 24px;
    color: #181818;
    text-align: center;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.info-not-available{
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.time-item{
    cursor: pointer;
}

.time-item.active{
    cursor: auto;
}

#submit-training{
    cursor: pointer;
}

#info-calendar{
    display:none;
}

@media (max-width: 1100px) {
    .mindbody-calendar-date-wrapper{
        padding: 0 20px;
    }

    #next-btn{
        right: -15px;
    }
    #prev-btn{
        left: -15px;
    }

    .mindbody-calendar-time {
        grid-template-columns: repeat(4, 1fr);
    }




    .col-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .col-2{
        width: 100%;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        align-items: center;
    }

    .col-1{
        width: 100%;
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
        align-items: center;
    }




}

@media (max-width: 600px) {

    #calendar-date .slick-slide {
        margin: 0 15px;
    }

    .mindbody-calendar .logo{
        max-width: 300px;
        margin: 30px auto 0 auto;
        display: block;
    }

    .mindbody-calendar .address{
        margin-top: 8px;
        color: #181818;
        text-align: center;
        font-family: "SF Pro Text", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .mindbody-calendar .location{
        margin-top: 40px;
        color: #181818;
        text-align: center;
        font-family: "SF Pro Text", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .mindbody-calendar .heading{
        margin-top: 80px;
        color: #181818;
        text-align: center;
        font-family: "SF Pro Text", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .mindbody-calendar .mindbody-calendar-title{
        font-size: 22px;
        margin-top: 40px;
    }

    .mindbody-calendar-time {
        grid-template-columns: repeat(3, 1fr);
    }

    .col-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .col-2{
        width: 100%;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        align-items: center;
    }


    .col-1{
        width: 100%;
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 400px) {


    .mindbody-calendar-time {
        grid-template-columns: repeat(2, 1fr);
    }


}