@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


.step{
    margin: 10px auto 0 auto;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
    text-align: center;
}

.step-green{
    color: #94E522;
}


@media (max-width: 450px) {
    .step{
        margin-top: 6px;
        font-size: 14px;
    }

}